
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');



.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
body{
    /* background-color: rgb(219, 169, 149); */
}
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;

}
.text-lite-gray{
    color: #727272;

}
.bg-lite{
    background-color: rgba(255, 144, 14, 0.1);;
}

.navbar {
   
    justify-content: space-between;
    
}
.brand{
    font-weight: 700;
    font-size: 3rem;
}
.nav-links{
    gap: 40px;
    text-decoration: none;
    padding: 20px;
}
.nav-item{
     list-style-type: none;
     font-weight: 500;

}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;


}
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 50px;


}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.btn-primary{
    background-color: #ff900e;;
    color: white;
    border-radius:8px;
    padding: 20px 25px;
    font-size: 1.25rem;
    border: 0;

}
.banner-image{
    width: 100%;
}





main{
    max-width: 1440px;
    margin: 0 auto;
}
main > section{
    margin-top: 130px;
}

.teams{
    align-items: center;

}
.team-image-container{
    grid-template-columns: repeat(2,fr);
    gap: 24px;
}
.feature-title{
    font-size: 2.5rem;

}
.our-features{
margin-left: 130px;
max-width: 530px;
}
.quick-list{
    color:rgba(114, 114, 114, 1);
}.features{
    color:#ff900e
}
.of-our-features{
    font-weight: bold;
}




@media screen and (max-width:576px){
    .navbar, .nav-links,.teams{
        flex-direction: column;
    }
    .eam-image-container{
        grid-template-columns: repeat(1,1fr);
    }
    .our-features{
        margin-left: 20px;

    }
}
@media screen and (min-width:576px) and (max-width:992px){
    .teams{
        flex-direction: column;
    }
    .our-features{
        margin:50px auto;
    }
    
}